<!doctype html>
<html lang="en-NP">
<head>
  {% include head.html %}
</head>
<body>
  {%- include header.html -%}
  <div class="container">
      <div class="content ">
        {{ content }}
        
      </div>

      <div class = "sidebar">
        {%- include sidebar.html -%}
      </div>
   
  </div>

  {%- include footer.html -%}

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

{%- include playerjs.html -%}
<script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
</body>
</html>
